@CHARSET "UTF-8";

body{
	background-color: black;
	
}

.topnav {
  background-color: black;
  overflow: hidden;
  border-radius: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: coral;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;

}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
    border-radius: 20px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #c6c907;
  color: white;
}