body
{
		font-family: Avenir;
}


.header
{
	background: white;
	width: 100%; 
	height: 130px;
	border-style: solid;
	border-color: #fdb929;
	
}

#logo
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	position: relative;
	align: center;
	width: 40%;
	height: auto;
	
}

#menu
{
	font-size: 60px;
	text-align: center;
	background: #fdb929;
	color: black;
	
}

th
{
	border-style: solid;
	border-color: #fdb929;
	background: #feda8f;
	border-radius: 5px;
	color: #ffffff;
	
	
}
td
{
	text-align: center;
	align: center;
	border-style: solid;
	border-color: orange;
	background:#ffe2ae;
}

table
{
	font-size: 30px;
}

table img
{
	width: 300px;
	height: auto;
	text-align: center;
	transition: transform 0.7s;
}

table img:hover
{
	transform: scale(1.4);
}

#add:hover
{
	background: #fe6d49;	
	cursor: pointer;
	
}
